<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <a href="https://www.instagram.com/ankit__sainii.31/?utm_source=ig_web_button_share_sheet"><i class="fa-brands fa-square-instagram"></i></a>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WANDERLUST PRIVATE LIMITED</div>
        <div class="f-info-links">
            <a href="privacy">Privacy</a>
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>